<div class="card text-center card-fixed-width">
    {% if is_detail %}
        {% for image in property.photos.all %}
            <img src="{{ image.image }}" class="property-image" alt="{{ property.name }}">
        {% endfor %}
    {% else %}
        {% with property.photos.first as photo %}
            {% if photo %}
                <img src="{{ photo.image }}" alt="{{ property.name }}" class="property-image">
            {% else %}
                <div class="image-placeholder"></div>
            {% endif %}
        {% endwith %}

    {% endif %}

    <div class="card-body">
        <h5 class="card-title">{{ property.name }}</h5>
        <p class="lead">{{ property.price }} kr</p>
        <p class="card-text">{{ property.description }}</p>
        <p><strong>Seller:</strong> {{ property.seller.name }}</p>
    </div>
</div>
