{% load static %}

<header class="navbar">
  <div class="logo-wrapper">
    <a href="{% url 'user-homepage' %}">
      <img src="{% static 'images/logo2.png' %}" alt="Castle Logo" class="logo-img">
    </a>
  </div>

  <!-- Navigation links -->
  <nav class="nav-links">
    <a href="{% url 'property-index' %}">Property Catalogue</a>
    <a href="{% url 'create-property' %}">Create Listing</a>
    <a href="{% url 'my-offers' %}">My Offers</a>
  </nav>

  <!-- Profile/Login -->
  <div class="profile-icon">
    {% if user.is_authenticated %}
      <a href="{% url 'profile' %}">
        <img src="{% static 'icons/user-icon.jpeg' %}" alt="Profile" class="icon-img" />
      </a>
    {% else %}
      <a href="{% url 'login' %}">
        <img src="{% static 'icons/user-icon.jpeg' %}" alt="Login" class="icon-img" />
      </a>
    {% endif %}
  </div>
</header>
