{% extends "base.html" %}
{% block title %}Finalize Purchase Offer - Contact Info{% endblock %}

{% block content %}
  {% include 'finalization/stepper.html' %}

  <main>
    <h1 class="finalize-title">Finalize Purchase Offer</h1>

    <section class="finalize-box">
      <h2>Contact Information</h2>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="offer_id" value="{{ offer_id }}">

        <fieldset>
          <legend>Address</legend>

          <div class="form-group">
            <label for="street_name">Street name:</label>
            <input type="text" id="street_name" name="street_name" required>
          </div>

          <div class="form-group">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" required>
          </div>

          <div class="form-group">
            <label for="postal_code">Postal Code:</label>
            <input type="text" id="postal_code" name="postal_code" required>
          </div>

          <div class="form-group">
            <label for="country">Country:</label>
            <select id="country" name="country" required>
              <option value="">-- Select a Country --</option>
              {% for country in countries %}
                <option value="{{ country }}" {% if country == "Iceland" %}selected{% endif %}>{{ country }}</option>
              {% endfor %}
            </select>
          </div>
        </fieldset>

        <fieldset>
          <legend>Identification</legend>
          <div class="form-group">
            <label for="kennitala">National ID:</label>
            <input type="text" id="kennitala" name="kennitala" required>
          </div>
        </fieldset>

        <button type="submit">Next: Payment</button>
      </form>
    </section>
  </main>
{% endblock %}

