{% extends "base.html" %}
{% block content %}
    {% include 'finalization/stepper.html' %}
<h1 class="finalize-title">Credit card info</h1>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="offer_id" value="{{ offer_id }}">
    <input type="text" name="cardholder_name" placeholder="Cardholder Name" required>
    <input type="text" name="card_number" placeholder="Card Number" required>
    <input type="text" name="expiry_date" placeholder="Expiry Date (MM/YY)" required>
    <input type="text" name="cvc" placeholder="CVC" required>
    <button type="submit">Continue</button>
</form>
{% endblock %}

