{% extends "base.html" %}
{% block title %}Review and Confirm{% endblock %}
{% block content %}
{% include 'finalization/stepper.html' %}

<main>
    <h1 class="finalize-title">Review and Confirm</h1>
    <section class="finalize-box">
        <h2>Contact Information</h2>
        <ul>
            <li><strong>Street:</strong> {{ contact_info.street_name }}</li>
            <li><strong>City:</strong> {{ contact_info.city }}</li>
            <li><strong>Postal Code:</strong> {{ contact_info.postal_code }}</li>
            <li><strong>Country:</strong> {{ contact_info.country }}</li>
            <li><strong>National ID:</strong> {{ contact_info.kennitala }}</li>
        </ul>
        <h2>Payment Information</h2>
        {% if payment_info.method == "mortgage" %}
        <ul>
            <li><strong>Mortgage Provider:</strong> {{ payment_info.provider }}</li>
        </ul>
        {% elif payment_info.method == "bank" %}
        <ul>
            <li><strong>Recipient Name:</strong> {{ payment_info.recipient_name }}</li>
            <li><strong>Account Number:</strong> {{ payment_info.account_number }}</li>
            <li><strong>Amount:</strong> {{ payment_info.amount }}</li>
        </ul>
        {% elif payment_info.method == "card" %}
        <ul>
            <li><strong>Cardholder Name:</strong> {{ payment_info.cardholder_name }}</li>
            <li><strong>Card Number:</strong> **** **** **** {{ payment_info.card_number|slice:"-4:" }}</li>
            <li><strong>Expiry:</strong> {{ payment_info.expiry_date }}</li>
        </ul>
        {% endif %}
    </section>
    <form method="post" action="{% url 'confirmation-page' offer_id=offer_id %}" class="confirm-form">
        {% csrf_token %}
        <a href="{% url  back_url offer_id %}" class="btn btn-outline-secondary">← back</a>
        <div class="d-flex justify-content-center">
            <button type="submit" class="confirm-btn w-auto px-5">Confirm</button>
        </div>
    </form>
</main>
{% endblock %}