{% extends 'base.html' %}
{% block title %}My Favourites{% endblock %}

{% block content %}
<h2 class="mb-4">My Favorite Properties</h2>
<div class="row">
  {% for fav in favourites %}
    {% with property=fav.property %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{ property.photos.first.image.url }}" class="card-img-top" alt="{{ property.street_name }}">
          <div class="card-body">
            <h5>{{ property.street_name }} {{ property.house_number }}</h5>
            <p>{{ property.city }}, {{ property.postal_code }}</p>
            <a href="{% url 'property-detail' property.id %}" class="btn btn-primary btn-sm">View</a>
          </div>
        </div>
      </div>
    {% endwith %}
  {% empty %}
    <p>You have no favorites yet.</p>
  {% endfor %}
</div>
{% endblock %}

