{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="homepage-container">
    <section class="filters">
        <div class="filter-group">
            <label>Location</label>
            <button class="filter-button">
                <img src="{% static 'icons/location.png' %}" alt="Location icon">
                Choose a location
            </button>
            <div class="location-dropdown">
                <fieldset>
                    <legend>Höfuðborgarsvæðið</legend>
                    <strong>Reykjavík</strong><br>
                    <label><input type="checkbox" name="location" value="101"> 101 - Miðbær</label><br>
                    <label><input type="checkbox" name="location" value="102"> 102 - Vatnsmýri</label><br>
                    <label><input type="checkbox" name="location" value="103"> 103 - Kringlan/Hvassal</label><br>
                    <label><input type="checkbox" name="location" value="104"> 104 - Vogar</label><br>
                    <label><input type="checkbox" name="location" value="105"> 105 - Austurbær</label><br>
                    <label><input type="checkbox" name="location" value="107"> 107 - Vesturbær</label><br>
                    <label><input type="checkbox" name="location" value="108"> 108 - Austurbær</label><br>
                    <label><input type="checkbox" name="location" value="109"> 109 - Neðra Breiðholt</label><br>
                    <label><input type="checkbox" name="location" value="110"> 110 - Árbær</label><br>
                    <label><input type="checkbox" name="location" value="111"> 111 - Efra Breiðholt</label><br>
                    <label><input type="checkbox" name="location" value="112"> 112 - Grafarvogur</label><br>
                    <label><input type="checkbox" name="location" value="113"> 113 - Grafarholt</label><br>
                    <label><input type="checkbox" name="location" value="116"> 116 - Kjalarnes</label><br>
                    <label><input type="checkbox" name="location" value="161"> 161 - Reykjavík</label><br>
                    <label><input type="checkbox" name="location" value="162"> 162 - Kjalarnes</label><br>
                </fieldset>

        <div class="filter-group">
            <label>Type</label>
            <button class="filter-button">
                <img src="{% static 'icons/type.png' %}" alt="Home icon">
                Choose a type
            </button>
        </div>

        <div class="filter-group">
            <label>Size</label>
            <button class="filter-button">
                <img src="{% static 'icons/size.png' %}" alt="Size icon">
                Choose a size
            </button>
        </div>

        <div class="filter-group">
            <label>Rooms</label>
            <button class="filter-button">
                <img src="{% static 'icons/rooms.png' %}" alt="Rooms icon">
                Choose total rooms
            </button>
        </div>

        <div class="filter-group">
            <label>Price</label>
            <button class="filter-button">
                <img src="{% static 'icons/price.png' %}" alt="Price icon">
                Choose a price
            </button>
        </div>

        <div class="filter-group">
            <label>Street name or text description</label>
            <input type="text" placeholder="Write here...">
        </div>

        <button class="search-button">
            <img src="{% static 'icons/search.png' %}" alt="Search icon">
            SEARCH
        </button>
    </section>

    <section class="brand-info">
        <p>
            Menntavegur 1<br>
            Open Mon–Fri: 09–16<br>
            +354 555-6677<br>
            info@castleapartments.com
        </p>
        <img src="{% static 'images/logo.png' %}" alt="Castle Logo" class="brand-logo">
    </section>
</div>
{% endblock %}
